<div class="skill-categories">
    <ul>
        <li>
            <strong>Continuous Integration & Delivery (CI/CD)</strong>
            <p class="sub-cat">Automating build, test, and deployment pipelines for faster and reliable releases.</p>
            <p class="example">Developed custom CI/CD pipelines (YAML/DOCKER/gitlab.ci) to automatically deploy and serve both front and back end applications on Windows, Linux, and Kubernetes.
        </li>
        <li>
            <strong>Monitoring & Logging</strong>
            <p class="sub-cat">Tracking system performance and application health to ensure reliability and quick issue resolution.</p>
        </li>
        <li>
            <strong>Configuration Management</strong>
            <p class="sub-cat">Automating system configurations to maintain consistency across environments.</p>
        </li>
        <li>
            <strong>Security & Compliance</strong>
            <p class="sub-cat">Integrating security practices and compliance checks throughout the development lifecycle.</p>
        </li>
        <li>
            <strong>Collaboration & Communication</strong>
            <p class="sub-cat">Facilitating teamwork between development and operations for efficient workflows.</p>
        </li>
    </ul>
</div>