<div id="cage-holder">
	<div class="cage">
		
		<!-- INTRO INFO -->
		<h1 class="title">TECHLION<br />DIGITAL</h1>
		
			<div class="total-box">
				 <!-- Should I make Techlion Videos to show specific things? Could the video itself give an overview of who I am and what I do?
						Would it be better to have content the user can scroll through and interact (prob my preference)
				 -->
				<p href="" class="dial-item selected"  id="trigger-WE">Web Engineering</p>	
					<!-- 
						 		Responsive UI Development
								Performance Optimization
								Animation & Interactivity
								Testing & Troubleshooting
								Accessibility
								Server Side Logic
								APIs
								Deployment
								Architecture | System Engineering & Topology
					
				<p class="dial-item" id="trigger-FSD">Full Stack Development</p>								
				<p class="dial-item" id="trigger-UX">UX based UI</p>
					 Based on research, data, analytics. Making data driven decisions. 
					 	 Programmatic Data Analysis
				 		 Focus on increasing traffic and usability
					 	 Accessible Design
						  
					-->
				
			</div>
	</div>
	
</div>

