html{
    overflow-y: scroll;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Condor', sans-serif;
    min-height: 460px;
    min-width: 340px;
    height: 100%;
    width: 100%;
}

body {
    /* background:url('assets/images/bggeo.jpg') 50% 50% no-repeat;
    background-size:cover; */
}

.journal-header {
    position: relative;
}

.total-box{
    text-align:center;
    padding-top:30px;
}

.total-box span{
    font-weight:800;
}

.diet-bar{
    width:100%;
    font-size:0px;
    font-family: "forma-djr-display", sans-serif;
    font-weight: 900;
}

.diet-bar input {
    width: 80%;
    font-size: 18px;
    background: none;
    border: none;
    border-bottom: 1px rgba(0,0,0,0.8) solid;
    padding-right: 20px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.8);
    display: inline-block;
    line-height: 60px;
    margin-bottom: 0;
    padding: 0;
}

p.date {
    position: absolute;
    top: 0;
    right: 0;
}

div.movement-bar{
    padding-top:60px;
}

.movement-bar p span{
    font-size:26px;
    font-weight:800;
    margin-top:8px;
    display:block;
}

input#dDescription {
    border: 1px solid rgba(0,0,0,0.5);
    width: 100%;
    height: 500px;
    background-position: 0 0;
}

textarea#dDescription {
    width: 100%;
    height: 200px;
    border: none;
    border-bottom: 1px rgba(0,0,0,0.8) solid;
    box-sizing:border-box;
    padding:20px;
    white-space: normal;
    resize: none;
    background:none;
    font-size:26px;
    font-family:fenwick, sans-serif;
}

select#dLifted, #dDistance, #dCardio {
    width: 190px;
    display: block;
    background: none;
    border: none !important;
    border-bottom: 1px rgba(0,0,0,0.8) solid !important; 
    font-size: 18px;
    color: rgba(0, 0, 0, 0.8) !important;
    margin: 20px 23px 60px 20px;
    line-height:50px;
    font-family:fenwick, sans-serif;
    display:inline-block;
    vertical-align:bottom;
}

select#dLifted{
    padding-bottom:10px;
}

ul.diet-bar {
    margin: 0;
    margin-top:40px;
    padding: 0;
    width: 98.5%;
    height: 80px;
    font-size:0;
    border:5px #d0eec7 solid;
}

.journal-entry {
    margin-bottom: 160px;
    overflow:hidden;
    pointer-events:none !important;
    width:100%;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    transition:all 0.4s ease;
}

.hide-post{
    opacity:0;
    height:0;
    margin-bottom:0;
}

.show-post{
    opacity:1;
    height:auto;
}

.diet-bar li {
    list-style-type: none;
    display: inline-block;
    width: 25%;
    box-sizing: border-box;
    font-size: 18px;
    text-align: center;
    height: 100%;
    box-sizing: border-box;
    padding-top: 20px;
    color: rgb(39 69 30);
    position: relative;
    background: #e8f7db;
    border-right: 5px solid #d0eec7;
}

#writeDiary .diet-bar{
    border:none;
}

#writeDiary .diet-bar li{
    background:none;
}

ul.movement-bar {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size:0;
}

.movement-bar li{
    list-style-type: none;
    display:inline-block;
    width:33%;
    color:rgba(0,0,0,0.8);
    box-sizing: border-box;
}


.diet-bar li span{
    position: absolute;
    width: 100%;
    color: rgb(39 69 31);
    bottom: 19px;
    left: 0;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    letter-spacing: 5px;
}

.diet-bar li:last-child{
    border-right:none;
}

#contentGrid .movement-bar li p {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing:2px;
    
}


.btp{
    position: fixed;
    right: 20px;
    bottom: 20px;
    background: #33213b;
    color: #fff !important;
    font-size: 16px;
    z-index: 999999;
    opacity: 0;
    display: inline-block;
    font-family: "forma-djr-display", sans-serif;
    text-decoration: none !important;
    text-transform: uppercase;
    padding: 7px 15px 10px;
    border-radius: 10px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    pointer-events: none;
    font-weight: 900;
}

.btp.show{
    pointer-events:all;
    opacity:1;
}

.btp span{
    margin-left: 10px;
}

.svg-bg svg {
    position: absolute;
    top: -220px;
    width: 2400px;
    height: 1500px;
}

.cage #techlion {
    max-width: 240px;
    margin: 40px auto 20px;
    display: block;
    min-height: 240px;
}

.cage {
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    margin: 0;
    background: transparent;
    border: 15px #c9c3d1 solid;
    border-left: 15px #c9c3d1 solid;
    height: 100%;
    position: relative;
    z-index: 9;
}

.tiny-height .intro-text {
    display: none;
}

.text-box {
    background: rgba(255, 255, 255, 0.3);
}

#lensFilter{
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.title span {
    font-size: 10px;
    display: block;
    letter-spacing: 15px;
    padding-left: 6px;
    padding-top: 3px;
}



ul.stats{
    padding-left:0;
    width:100%;
}

ul.stats li{
    display:inline-block;
    width:20%;
    height:100%;
    position:relative;
    box-sizing: border-box;
    border-right:1px #89858d solid;
}

ul.stats li p {
    font-size: 22px;
    color: #fff;
    line-height: 55px;
    font-weight: 700;
    margin: 0;
    padding: 0 0 0 0;
    text-align: center;
    font-family: "forma-djr-display", sans-serif;
    font-weight: 600;
    font-style: normal;
}

polygon {
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    box-shadow: 6px 4px 5px 0px rgba(0, 0, 0, 0.51);
    -webkit-box-shadow: 6px 4px 5px 0px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 6px 4px 5px 0px rgba(0, 0, 0, 0.51);
}

#bgContainer polygon {
    -webkit-transition: all 0.8s linear;
    -moz-transition: all 0.8s linear;
    -ms-transition: all 0.8s linear;
    -o-transition: all 0.8s linear;
    transition: all 0.8s linear;
}

.cls-keep {
    fill: #655e6d !important;
}

.title {
    font-family: 'Condor', sans-serif;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    letter-spacing: 5px;
    margin: 0 !important;
    width: 100%;
    text-align: center;
    left: 0px;
    padding: 30px 0px 0px;
    font-weight: bold;
    color: #494252;
}

.menu-sep {
    margin: 65px 0px 35px -50px;
    width: 100px;
    opacity: 50%;
    border-bottom: 3px #494252 dotted;
    position: absolute;
    bottom: 140px;
    left: 50%;
}

#intro, #writeDiary {
    max-width: 600px;
    padding-top: 20px;
}

.intro-text {
    font-family: 'Condor Light', sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
    color: #494252;
    line-height: 1.7em;
    margin-top: 15px;
    box-sizing: border-box;
    padding: 0px 20px;
}

.contact-holder {
    width: 40px;
    margin: 0px 0px 0px -20px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.xp-point ul li {
    font-size: 22px;
    line-height: 1.4em;
    margin-bottom: 20px;
    list-style-type: none;
    font-weight: 100 !important;
}

p.company {
    margin: 20px 0px 40px 10px;
    text-transform:uppercase;
    font-size: 24px !important;
    padding-left: 20px;
    border-left: 3px #423b4c solid;
    font-weight:100;
    color:#423b4c

}

#submitEntry{
    background:#33213b;
    color:rgba(255,255,255,1);
    padding:15px 20px;
    display:inline-block;
    margin-top:60px;
}

.xp-point .sub-header {
    font-size: 26px !Important;
    font-weight: 100;
    font-weight: 800 !important;
    text-transform: uppercase;
    margin: 0px;
}

p.sub-header {
    font-size: 28px !Important;
    font-weight: 100;
    filter:blur(5px);
}
p.su-heed {
    letter-spacing: 2px;
    margin-top: 10px;
    text-transform: uppercase;
    margin-bottom: 0px;
    padding-bottom: 30px;
    border-bottom: 3px #494252 solid;
}
.contact-container {
    width: 100%;
    display: inline-block;
    padding: 0px 0.16%;
    vertical-align: top;
}

.contact-container svg {
    width: 40px;
    margin: 0px auto;
    cursor: pointer;
    display: block;
}

.hover-color circle {
    fill: #CAB3E0 !important;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.cls-100 {
    fill: #e5e6db;
}

circle {
    fill: #494252 !important;
}

div#cage-holder {
    position: fixed;
    width: 340px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9001;
    background: #E4DFEA;
}

div#contentGrid {
    height: 100%;
    width: 100%;
    z-index: 999;
    font-family: 'fenwick', sans-serif !important;
    left: 0px;
    box-sizing: border-box;
    padding-left: 340px;
    padding-top:75px;
    position:relative;
}

div#topText {
    height: 100%;
    width: 100%;
    /* position: relative; */
    z-index: 999;
    font-family: 'fenwick', sans-serif !important;
    left: 0px;
    box-sizing: border-box;
    padding-left: 340px;
    top: 75px;
    opacity: 0.42;
    position: absolute;
}

img#Rahb {
    position: absolute;
    right: -300px;
    display: none;
    bottom: 0px;
    width: 1300px;
}

.main-cta {
    background: #494252;
    border-radius: 20px;
    padding: 6px 12px 10px;
    color: #ecede2;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    margin-top: 20px;
    display: inline-block;
    position: fixed;
    bottom: 40px;
    left: 480px;
}

.intro-slide {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    position: relative;
    padding: 2% 0% 90px 140px;
    /*border-bottom: 15px #494252 solid;*/
}

.xp-point {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    vertical-align: top;
    margin-top: 60px;
}

.xp-point ul{
    padding:0;
    margin:0;
}

.resume-slide {
    height: auto;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    position: relative;
    padding: 10% 20% 90px 140px;
    pointer-events:none;
}

h1.header {
    text-transform: uppercase;
    line-height: 1em;
    font-size: 42px;
    font-weight: 900;
}

#intro p.sub-header {
    font-size: 26px !important;
    line-height: 1.5em !important;
    padding-right: 20px;
    font: small-caption;
    pointer-events:none;
}

#contentGrid p, #topText p{
    font-size: 22px;
    font-weight: 100;
    line-height: 1.4em;
}

#superHead {
    padding-left: 340px;
    background: #494252;
    height: 75px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9000;
    line-height: 65px;
    box-sizing: border-box;
    padding-right:0px;
    font-size:0px;
    border-bottom:8px #89858d solid;
}

.flex-container{
    display:flex;
}

ul.stats li span {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 10px;
    color: #fdfefc;
    /* background: #000; */
    font-size: 10px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    letter-spacing: 4px;
    font-family: "forma-djr-display", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#calendar{
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    grid-auto-rows: 1fr;
    gap: 2px; 
    width: 100%;
    height: 100vh; 
    box-sizing: border-box;
    padding:60px 60px 140px;    
    border:3px #c9c3d1 solid;
}

.day-container{
    width:100%;
    border:1px #c9c3d1 solid;
    height:100%;
    background:#e4fad9;
}

.day-container.empty{
    background:#655e6d;
    opacity:0.2;
}

.crown-spotter {
    box-sizing: border-box;
    /* padding: 20px; */
    display: block;
    width: 50px;
    margin: 0px auto;
    top: 50%;
    position: relative;
    margin-top: -17px !important;
}

.crown-spotter svg{
    max-width:50px;
    margin:0px auto;
}

.crown path{
    fill:#ffb000 !important;
}

.flip-card {
    background-color: transparent;
    width: 220px;
    height: 305px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
    position: absolute;
    right: -230px;
}

span.hike{
    font-weight:700;
}

.card-deck {
    position: absolute;
    top: 70px;
    right: -230px;
    display: block;
    width: 100%;
    height: auto;
    height: 315px;
}

.flip-card img {
    width: 220px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    border-radius: 31px;
}

.flip-card.f1.deal {
    z-index: 11;
    margin-right: 220px;
}

.flip-card.f2.deal {
    z-index: 12;
    margin-right: 220px;
}

.flip-card.f3.deal {
    z-index: 13;
    margin-right: 220px;
}

.flip-card.f4.deal {
    z-index: 14;
    margin-right: 220px;
}

.flip-card.f4.flip .flip-card-inner {
    transform: rotateY(180deg);
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
/* Style the back side */
.flip-card-back {
    transform: rotateY(180deg);
}

.total-box p {
    color: #494252;
    font-size: 16px;
    font-family: 'fenwick', sans-serif;
    display: block;
    text-decoration: none;
    font-weight: 900;
    text-transform: uppercase;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    margin-top:14px;
    cursor: pointer;
}


.dial-item{
    text-decoration:none;
    padding:9px 14px 8px;
    display:inline-block;
    border-radius:20px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.dial-item.selected,.dial-item:hover{
    background:#33213b;
    color:#fff;
    font-weight:bold;
 }

.dial-item.selected:hover{
    background:#655e6d;
    text-decoration:none;
}

a.nav-link {
    display: inline-block;
    color: #fff;
    font-size: 1cd px;
    text-align:center;
    font-family: 'fenwick';
    text-decoration: none;
    text-transform: capitalize;
    margin-right: 40px;
    flex:1;
    padding:0 0px 0 0;
}

a.nav-link:hover {
    background:none;
    color:#fff;
    font-weight:normal;
}

a.nav-link:first-child{
    text-align:left;
}

a.nav-link:first-child span{
    padding-left:140px;
    display:inline-block;
    box-sizing: border-box;
}

#superHead a:hover{
    color:#e4f6da;
}

.pwny {
    position: absolute;
    bottom: 0;
    right: 10%;
}

.content-item {
    /*display:none;*/
    width: 50%;
    background: #E4DFEA;
    height: 640px;
    width: 63%;
    box-sizing: border-box;
    margin-left: 590px;
    margin: 40px 0px 80px 590px;
    border-radius: 50px;
    border: 2px #b9a4d3 solid;
    -webkit-box-shadow: 10px 10px 25px 5px rgb(0 0 0 / 25%);
    box-shadow: 10px 10px 25px 5px rgb(0 0 0 / 35%);
    position: relative;
    cursor: pointer;
}

div#bgContainer {
    position: fixed;
    top: -200px;
    left: 0px;
    width: 100%;
    min-width: 1350px;
    opacity: 0.85;
}


.content-fade {
    opacity: 0 !important;
}



.content-header {
    background: #33213b !important;
    width: 100%;
    position: absolute;
    height: 120px;
    box-sizing: border-box;
    padding: 30px 0px 20px 40px;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    z-index: 99;
}

.content-header h2 {
    color: #e5e6db;
    font-family: 'Condor', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: normal;
}

.teaser-text {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.10) 25%, rgba(0, 0, 0, 0.85) 65%, rgba(0, 0, 0, 0.10) 100%);
    top: 120px;
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 40px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    opacity: 0;
}

.hover-content {
    opacity: 1;
}

.teaser-text p {
    font-family: 'Condor Light', sans-serif;
    /* text-transform: uppercase; */
    letter-spacing: 4px;
    font-size: 32px;
    color: #e5e6db;
    line-height: 1.5em;
    margin-top: 100px;
    box-sizing: border-box;
}

.teaser-cta {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 200px;
    height: 134px;
    background: #6cd2cb;
    z-index: 999;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 20px;
    color: #e5e6db;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0;
    margin-right: -200px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.slide-in {
    margin-right: 0px;
    opacity: 1;
}

a.content-cta {
    color: #494252;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

a.content-cta span {
    letter-spacing: 2px;
    font-size: 34px;
}

#square-donut{
    height:15px;width:15px;background:#494252;margin:0px 0px 0px 0px;padding:0px;
}

#intro div#square-donut {
    margin-bottom: 50px;
}

/* Admin Section */
input {
    border: 1px #000 solid;
    width: 50%;
    display: block;
    margin-bottom: 30px;
    font-family: 'fenwick', sans-serif !important;
    font-size: 24px;
    background: none;
}

div#bgLeftContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    overflow:hidden;
    width:100%;
    z-index: 0;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    pointer-events:none !important;
}

div#bgLeftContainer svg {
    width: auto;
    height: 100%;
}

#bgLeftContainer polygon{
    fill:#f9fbf8;
    opacity:0.4;
}

.journal-description{
    font-size:22px;
    line-height:1.3em;
}    

.explalink{
    text-decoration:underline;
    font-weight:bold;
}

.hide-slate div#cage-holder{
    pointer-events:none;
    transition:all 0.4s ease;
}


@media screen and (max-width: 1570px) {

    #superHead a {
        font-size: 18px;
        margin-right: 7%;
    }

    .grid-corner {
        padding-left: 80px;
    }

}

@media screen and (max-width: 1364px) {

    img#Rahb {
        display: none;
    }
    #superHead a{
        font-size:16px;
    }

}

/* MAIN MOBILE SWITCHEROO */
@media screen and (max-width: 1280px) {

    div#bgContainer {
        position: fixed;
        top: 0;
        left: -50%;
        width:200%;
        margin-left:0px;
        min-width: auto;
        opacity: 0.85;
    }

    #topText {
        left: 0px;
        top: -460px;
        z-index: 9999999999999;
        opacity: 0.5;
        position: absolute;
        top:75px;
    }

    .movement-bar li{
        display:block;
        width:auto;
        color:rgba(0,0,0,0.8);
    }

    #topText.large-width{
        top:75px !important;
    }

    div#contentGrid{
        padding-top:0px;
    }

    h1.header {
        font-size: 34px;
        text-align: left;
        margin-bottom: 20px;
    }

    .journal-description{
        font-size:26px;
        line-height:1.3em;
    }    

    p.su-heed {
        text-align: left;
        margin-top: 10px;
    }

    #intro{
        padding-top:60px;
    }

    #contentGrid p, #topText p {
        font-size: 20px;
    }

    #superHead {
        display: none;
    }

    div#cage-holder {
        position: relative;
        width: 100%;
        top:0;
    }

    #contentGrid, #topText {
        padding-left: 0 !important;
    }

    #intro,
    .xp-point {
        max-width: 100%;
        width: 100%;
    }

    .intro-slide,
    .resume-slide {
        padding: 60px 7% 15% 7%;
        height:auto !important;
    }

}




/* FINISHING TOUCHES */
@media screen and (max-height: 830px) {
    
    img#Rahb {
        width: 950px;
    }

}


@media screen and (max-width: 600px) {
    
    div#cage-holder {
        width: 100%;
    }

    .menu-sep,
    .contact-holder {
        opacity: 0;
        pointer-events: none;
    }

}


@media screen and (max-height: 490px) {
    
    .cage #techlion{
        min-height:200px;
    }
    .cage{
        padding:10px;
    }

    .title{
        padding-top:20px;
    }
    
}

/* TEMP STYLES */
.movement-bar{
    display:none !important;
}


/* INITIAL SVG DEFINITIONS */

#bg-1 {
    fill: #f9ffe5;
  }

  #bg-2 {
    fill: #f1ffde;
  }

  #bg-3 {
    fill: #edfdd8;
  }

  #bg-4 {
    fill: #e1fcc9;
  }

  #bg-5 {
    fill: #e1fcc9;
  }

  #bg-6 {
    fill: #e6fdd1;
  }

  #bg-7 {
    fill: #e3ffcf;
  }

  #bg-8 {
    fill: #e4ffca;
  }

  #bg-9 {
    fill: #e3fec9;
  }

  #bg-10 {
    fill: #e3fec9;
  }

  #bg-11 {
    fill: #e2fece;
  }

  #bg-12 {
    fill: #e7fed4;
  }

  #bg-13 {
      fill: #ecfcdf;
  }

  #bg-14 {
  fill: #f5feeb;
  }

  #bg-15 {
  fill: #fbfef5;
  }

  #bg-16 {
  fill: #eff9e0;
  }

  #bg-17 {
  fill: #e7fada;
  }

  #bg-18 {
  fill: #e9fad6;
  }

  #bg-19 {
  fill: #e4fad3;
  }

  #bg-20 {
  fill: #e0fbce;
  }

  #bg-21 {
  fill: #ddf8cb;
  }

  #bg-22 {
  fill: #e3fad0;
  }

  #bg-23 {
  fill: #ddf9c9;
  }

  #bg-24 {
  fill: #def9c4;
  }

  #bg-25 {
  fill: #e0fccc;
  }

  #bg-26 {
  fill: #e4fbd1;
  }

  #bg-27 {
  fill: #e5fcd2;
  }

  #bg-28 {
  fill: #edfcdf;
  }

  #bg-29 {
  fill: #f3fce9;
  }

  #bg-30 {
  fill: #fbfef5;
  }

  #bg-31 {
  fill: #ebfae3;
  }

  #bg-32 {
  fill: #e1fbd6;
  }

  #bg-33 {
  fill: #e5f8d8;
  }

  #bg-34 {
  fill: #e4f7d7;
  }

  #bg-35 {
  fill: #dff9d2;
  }

  #bg-36 {
  fill: #dff9d2;
  }

  #bg-37 {
  fill: #e4f7d7;
  }

  #bg-38 {
  fill: #e0f8d4;
  }

  #bg-39 {
  fill: #def5cb;
  }

  #bg-40 {
  fill: #e2f8d1;
  }

  #bg-41 {
  fill: #e7f8d4;
  }

  #bg-42 {
  fill: #e7f6d5;
  }

  #bg-43 {
  fill: #eafadd;
  }

  #bg-44 {
  fill: #f5fbed;
  }

  #bg-45 {
  fill: #f9fbf8;
  }

  #bg-46 {
  fill: #e2f9df;
  }

  #bg-47 {
  fill: #e4f7e1;
  }

  #bg-48 {
  fill: #dff2dc;
  }

  #bg-49 {
  fill: #dff2dc;
  }

  #bg-50 {
  fill: #ddf1d6;
  }

  #bg-51 {
  fill: #daf4cf;
  }

  #bg-52 {
  fill: #e0f2da;
  }

  #bg-53 {
  fill: #dff4d3;
  }

  #bg-54 {
  fill: #e2f4da;
  }

  #bg-55 {
  fill: #e3efdb;
  }

  #bg-56 {
  fill: #e7f3db;
  }

  #bg-57 {
  fill: #e9f5e1;
  }

  #bg-58 {
  fill: #f2f9e7;
  }

  #bg-59 {
  fill: #f3f9ed;
  }

  #bg-60 {
  fill: #fcfefb;
  }

  #bg-61 {
  fill: #dff8e2;
  }

  #bg-62 {
  fill: #d7f6d7;
  }

  #bg-63 {
  fill: #e0f8e2;
  }

  #bg-64 {
  fill: #daf1dd;
  }

  #bg-65 {
  fill: #dff5e0;
  }

  #bg-66 {
  fill: #d6ecd7;
  }

  #bg-67 {
  fill: #daecd2;
  }

  #bg-68 {
  fill: #dfecda;
  }

  #bg-69 {
  fill: #e2eddc;
  }

  #bg-70 {
  fill: #dfefd5;
  }

  #bg-71 {
  fill: #e3eedd;
  }

  #bg-72 {
  fill: #e9f2e1;
  }

  #bg-73 {
  fill: #f9ffe5;
  }

  #bg-74 {
  fill: #eff5e7;
  }

  #bg-75 {
  fill: #f9fbf8;
  }

  #bg-76 {
  fill: #d6f7dc;
  }

  #bg-77 {
  fill: #d6efda;
  }

  #bg-78 {
  fill: #d8f1dc;
  }

  #bg-79 {
  fill: #d3ebdd;
  }

  #bg-80 {
  fill: #d9e9dc;
  }

  #bg-81 {
  fill: #d9e9de;
  }

  #bg-82 {
  fill: #d3ebdd;
  }

  #bg-83 {
  fill: #dce9df;
  }

  #bg-84 {
  fill: #e2efde;
  }

  #bg-85 {
  fill: #e0eae1;
  }

  #bg-86 {
  fill: #e4e9e3;
  }

  #bg-87 {
  fill: #ecf2e8;
  }

  #bg-88 {
  fill: #f2f7f1;
  }

  #bg-89 {
  fill: #f6f8f5;
  }

  #bg-90 {
  fill: #fdfcfa;
  }

  #bg-91 {
  fill: #cbf3d9;
  }

  #bg-92 {
  fill: #d2eee0;
  }

  #bg-93 {
  fill: #ceeadc;
  }

  #bg-94 {
  fill: #d7ebe2;
  }

  #bg-95 {
  fill: #ddece7;
  }

  #bg-96 {
  fill: #d4e8dd;
  }

  #bg-97 {
  fill: #d8e7e0;
  }

  #bg-98 {
  fill: #dbe4e3;
  }

  #bg-99 {
  fill: #dee4e0;
  }

  #bg-100 {
  fill: #e1e3e0;
  }

  #bg-101 {
  fill: #e6e8e5;
  }

  #bg-102 {
  fill: #e9ebe8;
  }

  #bg-103 {
  fill: #f3f5f2;
  }

  #bg-104 {
  fill: #f5f7f4;
  }

  #bg-105 {
  fill: #fbfbfb;
  }

  #bg-106 {
  fill: #ccf4dc;
  }

  #bg-107 {
  fill: #cbebe0;
  }

  #bg-108 {
  fill: #cfeae3;
  }

  #bg-109 {
  fill: #cde5e5;
  }

  #bg-110 {
  fill: #daede9;
  }

  #bg-111 {
  fill: #d5e3e6;
  }

  #bg-112 {
  fill: #d9e0e8;
  }

  #bg-113 {
  fill: #dfe2e9;
  }

  #bg-114 {
  fill: #e5e9ec;
  }

  #bg-115 {
  fill: #e8eae9;
  }

  #bg-116 {
  fill: #e7e5e8;
  }

  #bg-117 {
  fill: #ebe9ec;
  }

  #bg-118 {
  fill: #f4f4f4;
  }

  #bg-119 {
  fill: #f7f7f7;
  }

  #bg-120 {
  fill: #fcfcfc;
  }

  #bg-121 {
  fill: #c6f1de;
  }

  #bg-122 {
  fill: #c8f3df;
  }

  #bg-123 {
  fill: #d1ece5;
  }

  #bg-124 {
  fill: #cfe9ea;
  }

  #bg-125 {
  fill: #d0e1e8;
  }

  #bg-126 {
  fill: #d7e6ed;
  }

  #bg-127 {
  fill: #dce3eb;
  }

  #bg-128 {
  fill: #dddcea;
  }

  #bg-129 {
  fill: #dedbec;
  }

  #bg-130 {
  fill: #e5e2ed;
  }

  #bg-131 {
  fill: #e7e4ed;
  }

  #bg-132 {
  fill: #ece9f2;
  }

  #bg-133 {
  fill: #f1eff2;
  }

  #bg-134 {
  fill: #f7f2f8;
  }

  #bg-135 {
  fill: #fcfcfc;
  }

  #bg-136 {
  fill: #beeddb;
  }

  #bg-137 {
  fill: #c2e5df;
  }

  #bg-138 {
  fill: #c5e2e8;
  }

  #bg-139 {
  fill: #cee0ec;
  }

  #bg-140 {
  fill: #d2e3ed;
  }

  #bg-141 {
  fill: #d2eaec;
  }

  #bg-142 {
  fill: #d9e8ef;
  }

  #bg-143 {
  fill: #d4d8f3;
  }

  #bg-144 {
  fill: #e3e0f3;
  }

  #bg-145 {
  fill: #e4e3f3;
  }

  #bg-146 {
  fill: #dfe2e9;
  }

  #bg-147 {
  fill: #ede7f3;
  }

  #bg-148 {
  fill: #f4eff5;
  }

  #bg-149 {
  fill: #f8f6f9;
  }

  #bg-150 {
  fill: #fcfcfc;
  }

  #bg-151 {
  fill: #baeade;
  }

  #bg-152 {
  fill: #bde3e4;
  }

  #bg-153 {
  fill: #c3dfeb;
  }

  #bg-154 {
  fill: #c5dbf0;
  }

  #bg-155 {
  fill: #cadaf1;
  }

  #bg-156 {
  fill: #d6def5;
  }

  #bg-157 {
  fill: #dcdcf4;
  }

  #bg-158 {
  fill: #dbd7f8;
  }

  #bg-159 {
  fill: #dbd4f5;
  }

  #bg-160 {
  fill: #e0d2f5;
  }

  #bg-161 {
  fill: #e9daf9;
  }

  #bg-162 {
  fill: #eee2fa;
  }

  #bg-163 {
  fill: #f4ebfc;
  }

  #bg-164 {
  fill: #f9eefc;
  }

  #bg-165 {
  fill: #fcfafd;
  }

  #bg-166 {
  fill: #ade7d8;
  }

  #bg-167 {
  fill: #b3e4de;
  }

  #bg-168 {
  fill: #b7dde6;
  }

  #bg-169 {
  fill: #cbe0f3;
  }

  #bg-170 {
  fill: #d0dff6;
  }

  #bg-171 {
  fill: #d3dff7;
  }

  #bg-172 {
  fill: #d9ddfa;
  }

  #bg-173 {
  fill: #dedafd;
  }

  #bg-174 {
  fill: #e5e3fb;
  }

  #bg-175 {
  fill: #e7e1fd;
  }

  #bg-176 {
  fill: #e9e6fb;
  }

  #bg-177 {
  fill: #ede8fc;
  }

  #bg-178 {
  fill: #f2eefd;
  }

  #bg-179 {
  fill: #f9eefc;
  }

  #bg-180 {
  fill: #fcf7fd;
  }

.cls-1, .cls-2, .cls-3, .cls-4, .cls-5, .cls-6, .cls-7, .cls-8 {
    fill: #655e6d;
}

.cls-1, .cls-9, .cls-3, .cls-10, .cls-11, .cls-4, .cls-12, .cls-13, .cls-14, .cls-5, .cls-15, .cls-16, .cls-6, .cls-17, .cls-18, .cls-19, .cls-7, .cls-8 {
    stroke: #655e6d;
    stroke-miterlimit: 10;
}

.cls-1, .cls-11, .cls-15, .cls-19 {
    stroke-width: 3px;
}

.cls-9 {
    stroke-width: .25px;
}

.cls-9, .cls-14, .cls-16, .cls-20, .cls-17, .cls-19 {
    fill: #746a82;
}

.cls-3, .cls-14, .cls-18 {
    stroke-width: 4px;
}

.cls-10, .cls-13, .cls-8 {
    stroke-width: 2px;
}

.cls-10, .cls-18, .cls-21 {
    fill: #ceecc5;
}

.cls-22, .cls-11 {
    fill: #dde7f0;
}

.cls-4 {
    stroke-width: 9px;
}

.cls-23 {
    fill: #ecede2;
}

.cls-12, .cls-13, .cls-15, .cls-24 {
    fill: #cab3e0;
}

.cls-12, .cls-7 {
    stroke-width: 5px;
}

.cls-5 {
    stroke-width: 10px;
}

.cls-16 {
    stroke-width: .75px;
}

.cls-6 {
    stroke-width: 8px;
}

.cls-17 {
    stroke-width: 6px;
}

.cls-25 {
    fill: #c1c1b2;
}

.cls-26 {
    fill: #c9c9bc;
}

.cls-27 {
    fill: #dadbce;
}